a{
    text-decoration: none;
    color: #1a73e8;
   
  }
  main-container{
    width: 35vw;
    height: 65vh;
  }
  
  mat-card {
      max-width: 30vw;
      margin: 2em auto;
      text-align: center;
      height: 70vh;
    }
    
    .header{
      text-align: center;
      padding-top: 8%;
    }
    .full-width,.password {
      width: 80%;
    }
    
    .fundoo{
           text-align: center;
           font-size: 25px;
           padding-top: 5%;
       }
  
       .signin{
        font-size: 30px;
          padding-top: 4%;
      }
  
    .header{
      padding-top: 2%;
        color: #202124;
        font-size: 16px;
    }
      
    .aLink{
      float: right;
      padding-right: 60px;
      text-decoration: none;
    }
  
    .Button{
      margin-top: 10%;
      display: flex;
      }
  
      .password-container{
        align-items: center;
         padding-left: 10%;
          }
      .next{
          margin-left: 70%;
      }
