
<div class="main" fxLayoutAlign="row"  fxLayoutGap="20px">
     <img src= "../../../assets/dashicons/add_alert_black_24dp (1).svg" alt="">
    <img src="../../../assets/dashicons/person_add_alt_black_24dp.svg" alt="">
    <img src="../../../assets/dashicons/color_lens_black_24dp.svg" alt="">
    <img src="../../../assets/dashicons/insert_photo_black_24dp.svg" alt="">
    <img src="../../../assets/dashicons/archive_black_24dp.svg" alt="">
     <img src="../../../assets/dashicons/delete_black_24dp (1).svg" alt=""> 
     
    <div class="listIcon">
        </div>
</div>