
  <div class="display-cards" fxLayout="row wrap" fxLayoutGap="20px" >
    <mat-card style="width:600px; height:600px" *ngFor="let note of notesArray" style="background-color: cyan; border-radius: 10px;">
        <!-- <div (click)="openDialog(note)">  -->
          <div>
       {{note.title}}
        </div>
        <!-- <div (click)="openDialog(note)"> -->
          <div>
          {{note.description}}
        </div>
        <div class="icons" style="margin-top: 20%;">
        <app-icons></app-icons>
        </div>
    </mat-card>
    </div>