<div class="main-container">
    <mat-card>
        <mat-card-content>
            <div class="fundoo">
                <span style="color: red">F</span>
                <span style="color: yellow">u</span>
                <span style="color: green">n</span>
                <span style="color: blue">d</span>
                <span style="color: orange">o</span>
                <span style="color: red">o</span>
            </div>
    
            <div class="signin">
                <P>Forget-password</P>
            </div>
    
            <div class="header">
                <P>Use Your Google Account</P>
            </div>
    
            <form (ngSubmit)="onsubmit()" name="ForgetPasswordForm" [formGroup]="ForgetPasswordForm">
                <!-- email -->
                <div class="emailInput">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input formControlName="email" matInput placeholder="Enter email address" required />
                        <mat-error *ngIf="! ForgetPasswordForm.controls['email'].valid">
                            Email is required
                        </mat-error>
                    </mat-form-field>
                </div>
            
            
                <div class="Button" fxLayout="row" fxLayoutAlign="space-around none">
                    <button mat-flat-button class="next" color="primary" type="submit" (click)="onsubmit()"><a href="http://localhost:4200/resetpassword/:token"> next
                    </a> </button> 
                </div>
            </form>
        </mat-card-content>
    </mat-card>
    </div>