<!-- Registration page  -->


<!-- parent container -->
<!-- <div class="container" fxFlex=60 fxLayout="row" fxFlex.xs=100> -->
    <div class="container" fxLayout="row">

        <!-- <div class="container-form" fxLayout="column" fxFlex.xs=100 fxFlex.sm=100> -->
        <div class="container-form" fxLayout="column">
    
            <!-- headind div Fundoo -->
            <div>
                <div class="fundoo">
                    <div class="Project" *ngFor="let fontcolor of fontcolors,let i=index">
                        <h1 class="projectName" [style]=fontcolor>{{fonttexts[i]}}</h1>
                    </div>
                </div>
    
                <span class="heading"> create your google account</span>
    
                <!-- <div id="form-container" class="form" fxLayout="column" style="padding-top: 10%;" fxFlex.xs=100> -->
                <div id="form-container" class="form" fxLayout="column" style="padding-top: 10%;">
    
                    <form (ngSubmit)="onRegistration()" name="RegistrationForm" [formGroup]="RegistrationForm">
    
                        <!-- div For First Name And Last Name -->
                        <div class="Name" fxLayout="row" fxLayoutGap="20px">
                            <mat-form-field class="First-Name" appearance="outline">
                                <mat-label> First Name</mat-label>
                                <input formControlName="firstName" matInput placeholder="Enter First-Name" required />
                                <mat-error *ngIf="!RegistrationForm.controls['firstName'].valid">
                                    FirstName is required
                                </mat-error>
                            </mat-form-field>
    
                            <mat-form-field appearance="outline" class="Last-Name">
                                <mat-label> Last Name</mat-label>
                                <input formControlName="lastName" matInput placeholder="Enter Last-Name" required />
                                <mat-error *ngIf="!RegistrationForm.controls['lastName'].valid">
                                    LastName is required
                                </mat-error>
                            </mat-form-field>
                        </div>
    
                        <!-- email -->
                        <div>
                            <mat-form-field appearance="outline" style="width: 86%;">
                                <mat-label>Email</mat-label>
                                <input formControlName="email" matInput placeholder="Enter email address" required />
                                <mat-error *ngIf="!RegistrationForm.controls['email'].valid">
                                    Email is required
                                </mat-error>
                                <mat-hint>you can use Lettrs,Numbers and Periods</mat-hint>
                            </mat-form-field>
                        </div>
    
                        <!-- password -->
    
                        <div class="password-container" fxLayout="row" fxLayoutGap="20px">
    
                            <mat-form-field class="password" appearance="outline" style="width: 41%">
                                <mat-label>Password</mat-label>
                                <input formControlName="password" matInput [type]=" hide ? 'password' : 'text'" required />
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
                                    [attr.aria-pressed]="hide">
                                    <mat-icon>
                                        {{hide ? 'visibility_off' : 'visibility'}}
                                    </mat-icon>
                                </button>
                                <mat-error *ngIf="!RegistrationForm.controls['password'].valid">
                                    Password is required
                                </mat-error>
                            </mat-form-field>
    
                            <mat-form-field class="password" appearance="outline" style="width: 41%">
                                <mat-label>Confirm Password</mat-label>
                                <input formControlName="confirmpassword" matInput [type]=" hide ? 'confirmpassword' : 'text'" required />
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
                                    [attr.aria-pressed]="hide">
                                    <mat-icon>
                                        {{hide ? 'visibility_off' : 'visibility'}}
                                    </mat-icon>
                                </button>
                                <mat-error *ngIf="!RegistrationForm.controls['confirmpassword'].valid">
                                    Reenter Password
                                </mat-error>
                            </mat-form-field>
    
                        </div>
                        <div class="hint">
                            <mat-hint>Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint>
                        </div>
    
                        <div class="button-section" fxLayoutGap="17em" style="padding-top: 15%;">
                            <button mat-button class="button1" routerLink="/login">
                                <!-- <a href="http://localhost:4200/login"> -->
                                Sign in instead
                                <!-- </a> -->
                            </button>
                            <button mat-raised-button class="button2" type="submit" (click)="onRegistration()">Next</button>
                        </div>
    
                    </form>
                </div>
    
            </div>
            <!-- image container -->
        </div>
        <div class="container-img" fxHide.xs fxLayout="column" fxFlexAlign="auto" fxLayoutAlign="center center">
            <div class="logo" style="padding-right: 15%;">
                <img class="image1" src="https://ssl.gstatic.com/accounts/signup/glif/account.svg" alt="" width="244"
                    height="244" class="j9NuTc TrZEUc">
                <p class="img-caption">One Account. All Of Fundoo<br>Working For You.</p>
            </div>
    
        </div>